html, body {
    background-color: #F5F5F5;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.black {
    font-weight: 900;
}

.bold {
    font-weight: 700;
}

#container {
    margin: 20vh;
}

#landing {
    height: 80vh;
    position: relative;
}

#name-container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -100%);
}

#name {
    font-size: 100px;
    margin: 0;
}

#name::after {
    background-color: #424242;
    content: "";
    display: block;
    height: 20px;
    width: 100%;
    animation: expandIn 2s;
}

.scroll-down {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: bounce 5s infinite;
}

@keyframes expandIn {
    from { width: 0% }
    to { width: 100% }
}

@keyframes bounce {
    0% {
        top: 50%;
        opacity: 0.1;
    }

    50% {
        top: 55%;
        opacity: 1;
    }

    100% {
        top: 50%;
        opacity: 0.1;
    }
}

.github-commit {
    padding: 25px 0px;
}

a.repo-link {
    color: #424242;
    cursor: pointer;
}

.timestamp {
   float: right;
   font-weight: 400;
}

